aiohttp
async-lru
backoff
contextily
geopandas
pycountry
pydantic-settings
python-dotenv
rasterio
requests
scikit-learn #not using it yet whoops
scipy
shapely
tqdm
travelpygame @ git+https://github.com/Miss-Inputs/travelpygame@main
xlsxwriter